:root {
  --blue-900: #222239;
  --blue-500: #4b4e67;
  --skin: #f0e9e5;
  --brow-900: #988c97;
  --brown-500: #c4aea8;
  --black: #1a1818;
  --white: #f6f4f3;

  --step--2: clamp(0.91rem, 0.89rem + 0.1vw, 0.96rem);
  --step--1: clamp(1.09rem, 1.05rem + 0.21vw, 1.2rem);
  --step-0: clamp(1.31rem, 1.24rem + 0.37vw, 1.5rem);
  --step-1: clamp(1.58rem, 1.46rem + 0.59vw, 1.88rem);
  --step-2: clamp(1.89rem, 1.71rem + 0.89vw, 2.34rem);
  --step-3: clamp(2.27rem, 2.01rem + 1.29vw, 2.93rem);
  --step-4: clamp(2.72rem, 2.36rem + 1.83vw, 3.66rem);
  --step-5: clamp(3.27rem, 2.75rem + 2.56vw, 4.58rem);

  --type-lyrics: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--type-lyrics);
}

html {
  scroll-behavior: smooth;
}

img,
video {
  max-width: 100%;
  height: auto;
}

/* navbar */
.nav {
  z-index: 2;
  width: 100%;
  height: 115px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(0.5rem);
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
  transition: all 0.4s;
}

.menu {
  width: 95%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.menu ul {
  list-style: none;
  margin-top: 50px;
}
.menu ul li {
  float: none;
  display: inline-block;
  margin: 0 25px;
}
.menu ul li a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: var(--step-1);
  font-weight: 500;
  letter-spacing: 0.1rem;
  transition: all 0.4s;
  color: var(--skin);
}
.menu ul li a:hover {
  background: rgba(255, 255, 255, 0.068);
}
.menu ul li:nth-child(3) {
  float: right;
}
.menu ul li:nth-child(4) {
  float: right;
}
.logo-container {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 10px;
}
.logo-container img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.btn {
  display: none;
}

@media (max-width: 1250px) {
  .menu {
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
}
@media (max-width: 1170px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav.active {
    height: 390px;
  }
  .nav {
    height: 160px;
  }
  .menu {
    width: 100%;
    margin-top: 55px;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .btn {
    display: block;
    margin-top: 50px;
    background: none;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .menu ul li {
    margin: 15px 25px;
  }
  .menu ul li a {
    color: var(--black);
  }
}

/* --------------------------- video inicial -------------------- */
.main {
  position: relative;
  height: 100vh;
  background-image: url(assets/sky.png);
}
.cards-iniciales {
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 5%;
  width: 90%;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 0 9rem;
  align-items: center;
}

@media screen and (min-width: 625px) {
  .telefonos {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .telefonos {
    flex-direction: row;
  }
  .num-telefonos ul li {
    line-height: 2.5em;
    letter-spacing: 0.2em;
  }
}

@media screen and (min-width: 1300px) {
  .cards-iniciales {
    top: 15%;
  }
  .frase-inicial,
  .telefonos {
    padding: 3rem;
  }
  .telefonos {
    flex-direction: column;
  }
  .redes {
    margin: 3rem 0;
  }
}

@media screen and (min-width: 1350px) {
  .cards-iniciales {
    top: 30%;
    justify-content: space-between;
    flex-direction: row;
  }
  .cards-iniciales > * {
    width: 40%;
    height: 100%;
  }
}

.cards-iniciales > * {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(0.5rem);
  margin: 0 0 1rem;
  border-radius: 2rem;
  color: var(--black);
}

.frase-inicial,
.telefonos {
  font-size: var(--step-1);
  font-weight: lighter;
  text-align: center;
}

h1 {
  font-size: var(--step--1);
}

.redes a i {
  color: var(--blue-900);
}

.redes a i:hover {
  color: var(--blue-500);
}

.central {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
}
.central > * {
  text-align: center;
  padding: 0 1rem;
}
.central h2 {
  font-size: var(--step-1);
  font-weight: 500;
}

.num-telefonos {
  text-align: left;
  width: 100%;
  padding: 0 0 0 8rem;
}

.num-telefonos ul li {
  font-weight: lighter;
}

/*  ------------------------ productos -------------------------- */

.productos {
  background-color: var(--skin);
  width: 100%;
}

.servicios {
  background-color: var(--brow-900);
  margin: 0;
}

.productos h2,
.servicios h2 {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--blue-900);
  letter-spacing: 0.3rem;
}

.productos h3,
.servicios h3 {
  width: 90%;
  margin: 1rem auto;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.3rem;
}

@media screen and (min-width: 480px) {
  .galeria-ataud {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .fluid-item {
    flex: 0 1 calc(50% - 1rem);
  }
}

@media screen and (min-width: 768px) {
  .fluid-item {
    flex: 0 1 calc(33% - 1rem);
  }
}

.galeria-ataud,
.galeria-flores,
.auto-funeraria,
.arreglos-funerales {
  width: 90%;
  margin: 0 auto;
}

.galeria-ataud article {
  position: relative;
  border-radius: 2rem;
  padding: 0;
  margin: 0 0 1rem;
  overflow: hidden;
}

.fluid-item {
  position: relative;
  background-color: var(--white);
}

.fluid-item:hover .caption {
  opacity: 1;
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
}

.caption {
  width: 100%;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  transition: transform 0.15s ease-in-out;
}

.blur {
  background-color: var(--brown-500);
  top: -5rem;
  height: 300px;
  width: 100%;
  z-index: 5;
  position: absolute;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.caption-text {
  z-index: 10;
  color: #fff;
  position: absolute;
  width: 100%;
  height: 300px;
  text-align: center;
  top: -5rem;
}

.button-ver-mas {
  margin: 2rem 0;
  width: 100%;
  text-align: center;
}

.button-ver-mas > * {
  background-color: var(--blue-500);
  color: var(--skin);
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
  text-decoration: none;
}

/* ------------------- galeria de flores -------------------- */
.galeria-flores {
  border: 1px solid transparent;
}
.fotos {
  display: grid;
  height: 40rem;
  width: 95%;
  grid-template-columns: 100%;
  grid-auto-flow: dense;
  gap: 2rem;
}

@media screen and (min-width: 480px) {
  .fotos {
    margin-bottom: 5rem;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
  }
}

@media screen and (min-width: 768px) {
  .fotos {
    grid-template-columns: repeat(3, 33.3%);
  }
}

.foto-floral {
  position: relative;
}
.foto-floral img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 2rem;
}

.foto-floral:nth-child(3) {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
}

.galeria-flores .button-ver-mas {
  padding-bottom: 3rem;
}

/* ------------------------------- SERVICIOS ----------------------- */
.auto-funeraria img {
  width: 100%;
  border-radius: 2rem;
  object-fit: cover;
  object-position: center center;
}
